*{
    padding: 20px;
    margin : 30pt;
    background-color:aliceblue ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 

}